body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

a {
  color: #4C77BB;
  text-decoration: none;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  width: 100%;
  font-family: 'Droid Sans', sans-serif;
}

h1, h2 {
  margin: 12px 0;
}

h1 {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0 8px;
}

h2 {
  font-size: 1.6rem;
  line-height: 2rem;
}

ul, ol, p {
  display: block;
  font-size: 1.2rem;
  text-align: justify;
}

p {
  width: 100%;
}

ul, ol {
  padding-left: 20px;
}

ul li {
  padding-bottom: 5px;
}

ul li:last-child {
  padding-bottom: 0;
}

form {
  position: relative;
}

.app__success {
  color: #36B66C;
}

.app__warning {
  color: #EC971F;
}

.app__error {
  color: #D9534F;
}

.app__pull-left {
  float: left;
}

.app__pull-right {
  float: right;
}

.app__text-left {
  width: 100%;
  text-align: left;
}

.app__text-center {
  width: 100%;
  text-align: center;
}

.app__text-right {
  width: 100%;
  text-align: right;
}

.app__clickable {
  cursor: pointer;
}

.app-loader {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.50);
}

.app-loader--hide {
  display: none;
}

.app__button--small {
  height: 24px;
  font-size: 12px;
  padding: 0 4px;
  line-height: 26px;
}

.app-layout__content {
  background-color: rgba(170, 170, 170, 1);
}

.app-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.app-mobile__title {
  display: none !important;
}

.app-header {
  color: #fff;
  overflow: visible;
  background-color: white;
}

.app-header__row {
  padding: 0 40px 0 60px;
}

.app-header .material-icons {
  color: #767777 !important;
}

.app-header .mdl-layout__drawer-button {
  background: transparent;
  color: #767777;
}

.app-header .mdl-navigation__link {
  color: #757575;
  font-weight: 700;
  font-size: 14px;
}

.app-header__row .app-title {
  color: #4c77bb;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
}

.app-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 800px;
}

.app-navigation__container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.app-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}

.app-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #8bc34a;
}
 
.app-drawer {
  border-right: none;
}

.app-drawer .mdl-navigation {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 5px;
}

.app-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 5px 10px;
  padding: 10px 15px;
  background-color: #603814;
  font-family: 'Open Sans Condensed', sans-serif;
}

.app-drawer .mdl-navigation__link.mdl-navigation__link:hover {
  color: inherit;
}

.app-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #8bc34a;
}

.app-drawer .mdl-navigation__link .material-icons {
    font-size: 24px;
    margin-right: 32px;
}

.app-drawer .mdl-layout-title {
  position: relative;
  background-color: #fff;
  height: 160px;
  line-height: inherit;
  padding-left: 0;
  padding: 10px 0;
}

.app-drawer .app-logo__image {
  position: absolute;
}

.app-content {
  max-width: 1080px;
}

.app-grid {
  max-width: 760px;
}

.app-home__team img {
  width: 100%;
}

.app-partner {
  display: table;
  width: 100%;
  margin-bottom: 25px;
}

.app-partner--no-marging {
  margin-bottom: 0;
}

.app-partner__logo {
  width: 100px;
}

.app-partner__logo--igloo {
  width: 150px;
}

.app-partner__logo--technichem {
  width: 150px;
}

.app-partner__logo--eole {
  width: 150px;
  margin: 10px 0;
}

.app-partner__content {
  display: table-cell;
}

.app-partner__content--left {
  text-align: left;
}

.app-partner__content--right {
  text-align: right;
}

.app-partner__content--center {
  text-align: center;
}

.app-thumbnail__content {
  margin-bottom: 25px;
}

.app-thumbnail__content:nth-last-of-type(-n+1) {
  margin-bottom: 0;
}

.app-thumbnail__image {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

.app-video__ventilation {
  max-width: 100%;
  height: auto;
}

.app-textfield {
  width: 100%;
}

.app-textfield__label {
  color: rgba(0,0,0,.52);
  font-size: 20px;
}

.app-textfield__error {
  font-size: 15px;
}

@media (min-width: 480px) {

  .app-header__row .app-title {
    font-size: 18px;
  }

  .app-thumbnail {
    margin-top: 0;
  }

  .app-drawer {
    background: url('/img/bg-drawer.png');
  }
}

@media (min-width: 480px) and (max-width:839px) {

  h1, h2 {
    margin: 18px 0;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  ul, ol, p {
    font-size: 18px;
  }

  .app-home__team img {
    max-height: 300px;
  }

  .app-partner__content--left,
  .app-partner__content--right {
    display: table-cell;
    width: 50%;
    text-align: center;
  }

  .app-partner__logo--technichem {
    width: 300px;
  }

  .app-partner__logo--eole {
    width: 250px;
    margin: 10px 0 20px 0;
}

  .app-thumbnail__content {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-top: 0;
    margin-right: 6%;
    margin-left: 2%;
    margin-bottom: 6%;
  }

  .app-thumbnail__content:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }

  .app-thumbnail__content:nth-child(even) {
    margin-right: 0;
    margin-left: 0;
  }

  .app-thumbnail__image {
    height: 200px;
  }

  .app-thumbnail__image--assainissement-1 {
    height: 400px;
  }
}

@media (min-width: 840px) {

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  ul, ol, p {
    line-height: 1.5;
    font-size: 15px;
  }

  h1, h2 {
    margin: 24px 0;
  }
  
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  ul, ol, p {
    font-size: 20px;
  }

  ul, ol {
    padding-left: 30px;
  }

  ul li {
      padding-bottom: 10px;
    }

  .mdl-grid {
      padding: 8px 20px
  }

  .app-home__team {
    text-align: center;
    padding: 0 10px 0 20px;
  }

  .app-partner {
    margin-bottom: 0;
  }

  .app-partner__logo {
    width: 150px;
  }

  .app-partner__logo--igloo {
    width: 200px;
  }

  .app-partner__logo--technichem {
    width: 300px;
  }

  .app-partner__logo--eole {
    margin-top: 40px;
    width: 250px;
  }

  .app-thumbnail {
    padding-left: 25px;
  }

  .app-thumbnail--left {
    text-align: left;
  }

  .app-thumbnail--right {
    text-align: right;
  }

  .app-thumbnail__content {
    margin-bottom: 40px;
  }

  .app-thumbnail__content--left {
    text-align: left;
  }

  .app-thumbnail__content--right {
    text-align: right;
  }

  .app-thumbnail__content:last-child {
    margin-bottom: 0;
  }

  .app-thumbnail__image {
    height: 300px;
  }

  .app-thumbnail__image--isolation-1 {
    width: 300px;
    height: 250px;
  }

  .app-thumbnail__image--isolation-2 {
    width: 300px;
    height: 300px;
  }

  .app-thumbnail__image--isolation-3 {
    width: 400px;
    height: 300px;
  }

  .app-thumbnail__image--isolation-4 {
    width: 300px;
    height: 200px;
  }

  .app-thumbnail__image--assainissement-1 {
    height: 390px;
  }

  .app-thumbnail__image--assainissement-2,
  .app-thumbnail__image--assainissement-3 {
    width: 300px;
    height: 275px;
  }

  .app-thumbnail__image--ventilation-1,
  .app-thumbnail__image--ventilation-2 {
    width: 350px;
    height: 250px;
  }

  .app-thumbnail__image--demoussage-1,
  .app-thumbnail__image--demoussage-3 {
    width: 250px;
    height: 200px;
  }

  .app-thumbnail__image--demoussage-2,
  .app-thumbnail__image--demoussage-4 {
    width: 300px;
    height: 200px;
  }

  .app-thumbnail__image--facades-1,
  .app-thumbnail__image--facades-3,
  .app-thumbnail__image--facades-2,
  .app-thumbnail__image--facades-4 {
    width: 250px;
    height: 200px;
  }

  .app-contact__infos * {
    text-align: right;
  }
}